*{
    margin:0;
    padding:0;
}

html{
    background-color: rgb(60, 6, 111);
    color:rgb(196, 191, 185);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
body{
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
main{
    max-width: 90%;
    background-color: rgb(38, 14, 60);
    padding: 2em;
    border-radius: 1em;  
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.entrada, .saida {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.valor,.moeda {
    width: 20%;
    font-size: 30px;
}
@media (max-width: 480px) {
    .valor, .moeda {
        width: 100%; 
    }
}